@{ 
    ViewBag.Title = "Angular2 with DataTable";
}
@section scripts{
    <script>
        System.import('app').catch(function (err) { console.error(err); });
    </script>
}
<my-app>
    <div class="load-bar">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</my-app>